.contact{
    align-content: vertical;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0px auto;
    position: fixed
}
.fa:hover {
    opacity: 0.5;
}
#go:hover{
    background-color: blue;
}
.about{
        background-color: #FFF;
        position:fixed;
        bottom: 0px;
        width: 100%;
        text-align: center;
}