<h2>About View</h2>


<p>{{ controller.message }}</p>

<p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
         nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
         reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
         pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
         culpa qui officia deserunt mollit anim id est laborum."

</p>



<h1> About our team </h1>

<p>We are an ambitious group with a lot to learn. Years of life experience and excited to learn more.<br>
    Check out our invetory and let us know what you think on the contacts page!</p>



<footer class="footer">Coder Camps 2017 </footer>

