<h2>Contact View</h2>

<!-- <p>{{ controller.message }}</p> -->

<div class="contact">
<!-- <input type="text">Message</input> -->

<h1 class="send">Hit us up</h1>
<textarea placeholder="Ask us anything" rows="4" cols="50" placeholder="Ask us anything"></textarea>
<input type="text">Your Email</input>

<button id="go">Send it!</button>


<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-snapchat"></a>
</div>